<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" th:href="@{/webjars/todomvc-common/base.css}">
    <link rel="stylesheet" th:href="@{/webjars/todomvc-app-css/index.css}">
    <script defer th:src="@{/webjars/htmx.org/1.9.10/dist/htmx.min.js}"></script>
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <form id="new-todo-form" method="post" th:action="@{/}" th:object="${item}">
            <input autocomplete="false" autofocus class="new-todo" hx-post="/"
                   hx-swap="beforeend"
                   hx-target="#todo-list"
                   hx-trigger="keyup[key=='Enter']"
                   id="new-todo-input"
                   name="title"
                   placeholder="What needs to be done?"
                   th:field="*{title}"
            >
        </form>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" id="main-section" th:classappend="${totalNumberOfItems == 0 ?'hidden':''}">
        <form th:action="@{/toggle-all}" th:method="put">
            <input class="toggle-all" id="toggle-all" onclick="this.form.submit()"
                   type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
        </form>
        <ul class="todo-list" id="todo-list" th:remove="all-but-first">
            <li th:each="item : ${todos}" th:insert="~{fragments :: todoItem(${item})}" th:remove="tag">
            </li>
            <li class="completed">
                <div class="view">
                    <input checked class="toggle" type="checkbox">
                    <label>Taste JavaScript</label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="Create a TodoMVC template">
            </li>
            <li>
                <div class="view">
                    <input class="toggle" type="checkbox">
                    <label>Buy a unicorn</label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="Rule the web">
            </li>
        </ul>
    </section>
    <footer class="footer" id="main-footer" th:classappend="${totalNumberOfItems == 0?'hidden':''}">
        <span th:replace="~{fragments :: active-items-count}">
        </span>
        <ul class="filters">
            <li>
                <a th:classappend="${filter.name() == 'ALL'?'selected':''}"
                   th:href="@{/}">All</a>
            </li>
            <li>
                <a th:classappend="${filter.name() == 'ACTIVE'?'selected':''}"
                   th:href="@{/active}">Active</a>
            </li>
            <li>
                <a th:classappend="${filter.name() == 'COMPLETED'?'selected':''}"
                   th:href="@{/completed}">Completed</a>
            </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <form th:action="@{/completed}" th:if="${numberOfCompletedItems > 0}"
              th:method="delete">
            <button class="clear-completed">Clear completed</button>
        </form>
    </footer>
</section>

<!-- Scripts here. Don't remove ↓ -->
<script th:src="@{/webjars/todomvc-common/base.js}"></script>
<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}" type="text/javascript"></script>
<script>
    htmx.on('#new-todo-input', 'htmx:afterRequest', function (evt) {
        evt.detail.elt.value = '';
    });

    htmx.on('htmx:afterSwap', function () {
        let items = document.querySelectorAll('#todo-list li');
        let mainSection = document.getElementById('main-section');
        let mainFooter = document.getElementById('main-footer');

        if (items.length > 0) {
            mainSection.classList.remove('hidden');
            mainFooter.classList.remove('hidden');
        } else {
            mainSection.classList.add('hidden');
            mainFooter.classList.add('hidden');
        }
    });
    document.getElementById('new-todo-form').addEventListener('submit', function (evt) {
        evt.preventDefault();
    })
</script>
</body>
</html>